<% product = product %>
<% constraint = constraint %>

<%= semantic_form_for [:admin, constraint], :remote => true do |f| %>

  <h3>제한 날짜 추가</h3>

  <%= f.inputs do %>
    <%= f.calendar_date_select :unavailabled_at, :time => false, :size => 10 %>
  <% end %>

  <%= f.hidden_field :product_id, :value => product.id %>

  <%= f.submit "추가" %>

<% end %>
