<%= semantic_form_for @reservation do |f| %> 
  <%= f.error_messages %>
  <p>
    이용일 선택<br />
    <% CalendarDateSelect.format=(:iso_date)%>
	<%= f.calendar_date_select :used_at %>
  </p>
  <p>
    쿠폰: <%= Coupon.find(session[:user_id]).coupon_number %><br />
  </p>
  <p>
    사용자명: <%= Coupon.find(session[:user_id]).purchaser_name %><br />
  </p>
  <p>
      <%= f.input :resort, :as => :string, :label => "스키장 선택" %>
  </p>
  <p>
    <%= f.input :part_time, :as => :string, :label => "시간 선택" %>
  </p>
  <p>
    <%= f.input :height, :as => :string, :label => "신장" %>
  </p>
  <p>
    <%= f.input :shoe_size, :as => :string, :label => "발사이즈" %>
  </p>
  <%= f.buttons do %>
    <%= f.submit "예약 완료" %>
  <% end %>
<% end %>
