<div class="container_1box">

  <div class="container_header">
    <%= render "reservations/main_nav" %>
  </div><!-- container_header -->

  <div class="unit_content">

    <div class="reservation_header">
      <%= render "coupon/section_coupon_detail", :coupon => @coupon %>
    </div>


    <div class="section">
      <%= semantic_form_for @reservation do |f| %>

        <h3>예약 변경</h3>

        <%= render 'reservations/edit_form', :f => f , :reservation => @reservation, :coupon => @coupon %>

        <%= f.submit "수정" %>

      <% end %>

    </div>

  </div><!-- unit_content -->

</div><!-- container_1box -->
