<div class="container_1box">

  <div class="container_header">
    <%= render "reservations/main_nav" %>
  </div><!-- container_header -->

  <div class="unit_content">

    <div class="reservation_header">
      <%= render "coupons/section_coupon_detail", :coupon => @coupon %>
    </div>

    <table class="reservations">
      <thead>
        <tr>
          <th class="user_name">사용자명</th>
          <th class="resort">스키장</th>
          <th class="part_time">시간대</th>
          <th class="shoe_type">장비구분</th>
          <th class="board_stance">스탠스(보드 시)</th>
          <th class="height">신장</th>
          <th class="shoe_size">발사이즈</th>
        </tr>
      </thead>
      <tbody>
        <% @reservations.each do |reservation| %>
          <tr>
            <td class="user_name"><%= reservation.coupon.coupon_number %></td>
            <td class="resort"><%= reservation.resort %></td>
            <td class="part_time"><%= reservation.part_time %></td>
            <td class="shoe_type"><%= reservation.shoe_type %></td>
            <td class="board_stance"><%= reservation.board_stance %></td>
            <td class="height"><%= reservation.height %> cm</td>
            <td class="shoe_size"><%= reservation.shoe_size %> mm</td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div><!-- unit_content -->

</div><!-- container_1box -->
