<div class="container_2box">

  <div class="container_header">
    <%= render "reservations/main_nav" %>
  </div><!-- container_header -->

  <div class="unit_content">

    <div class="reservation_header">
      <%= render "coupon/section_coupon_detail", :coupon => @coupon %>
    </div>


    <div class="section">
      <% if @coupon.locked? %>
        <h3>쿠폰 사용이 정지 되었습니다.</h3>
        <p><strong>02) 2278 - 6633 으로 문의해주세요.</strong></p>
      <% elsif !@coupon.reservable? %>
        <h3>쿠폰을 모두 사용하셨습니다.</h3>
        <p><strong>02) 2278 - 6633 으로 문의해주세요.</strong></p>
      <% else %>
        <h3>예약하기</h3>
        <%= semantic_form_for @reservation do |f| %>

          <% if @product.free_type_ticket? %>
            <%= render "reservations/form_freeticket_#{@reservation.current_step}_step",
                :product => @product, :coupon => @coupon, :reservation => @reservation, :orders => @orders, :f => f %>
          <% else %>
            <%= render "reservations/form_#{@reservation.current_step}_step", :product => @product, :coupon => @coupon, :reservation => @reservation, :f => f %>
          <% end %>

        <% end %>
      <% end %>
    </div>

  </div><!-- unit_content -->

  <div class="unit_rail">
    <%= render "share/section_contact" %>
  </div><!-- unit_rail -->

</div><!-- container_1box -->
