<div class="container_2box">

  <div class="container_header">
    <%= render "reservations/main_nav" %>
  </div><!-- container_header -->

  <div class="unit_content">
    <%= render "share/section_guides" %>

    <div class="section">
      <% if @coupon.locked? %>
        <h3>쿠폰 사용이 정지 되었습니다.</h3>
        <p>문의: 02) 2278 - 6633</p>
      <% elsif !@coupon.reservable? %>
        <h3>쿠폰을 모두 사용하셨습니다.</h3>
        <p>문의: 02) 2278 - 6633</p>
      <% else %>
        <h3>예약하기</h3>
        <%= semantic_form_for @reservation do |f| %>

          <% if @product.free_type_ticket? %>
            <%= render "reservations/form_freeticket_#{@reservation.current_step}_step",
                :product => @product, :coupon => @coupon, :reservation => @reservation, :orders => @orders, :f => f %>
          <% else %>
            <%= render "reservations/form_#{@reservation.current_step}_step", :product => @product, :coupon => @coupon, :reservation => @reservation, :f => f %>
          <% end %>

        <% end %>
      <% end %>
    </div>

  </div><!-- unit_content -->

  <div class="unit_rail">
    <%= render "coupon/section_coupon_detail", :coupon => @coupon %>
    <%= render "share/section_contact" %>
  </div><!-- unit_rail -->

</div><!-- container_1box -->



<script type="text/javascript">

  var toggle_shoe_options = function(ev, ele, wrapper_id) {
    var _shoe_type = ele.childElements()[ele.selectedIndex].value;
    var _wrapper_id = wrapper_id;
    new Ajax.Request("/reservations/toggle_shoe_options", {
          parameters: { shoe_type: _shoe_type, wrapper_id: _wrapper_id },
          onSuccess: function(msg) {
          }

    });
  };

  Event.observe(window, "load", function() {

    var entry_size = $$('select[name="reservation[orders_attributes][][shoe_type]"]').size();

    for (var i = 0; i < entry_size; i++) {
      var shoe_type_ele = $$('select[name="reservation[orders_attributes][][shoe_type]"]')[i];
      shoe_type_ele.observe("change", toggle_shoe_options.bindAsEventListener(this, shoe_type_ele, i));
    }

  });

</script>

