<% coupon = coupon %>
<% product = product %>
<tr>
  <td class="coupon_number"><%= coupon.coupon_number %></td>
  <td class="quantity"><%= number_with_delimiter(coupon.quantity) %></td>
  <td class="used_quantity"><%= number_with_delimiter(coupon.orders_count) %></td>
  <td class="purchaser_name"><%= coupon.purchaser_name %></td>
  <td class="phone_number"><%= coupon.phone_number %></td>
  <td class="agency_name"><%= coupon.agency_name %></td>
  <td class="locked"><%= display_coupon_locked(coupon) %></td>
  <td class="actions">
    <span class="button">
      <%= link_to "예약하기", new_admin_product_reservation_path(product, :coupon_id => coupon) %>
    </span>
    <span class="button">
      <% if coupon.locked? %>
        <%= link_to "사용정지 해제", release_admin_product_coupon_path(product, coupon), :class => "puase" %>
      <% else %>
        <%= link_to "사용정지", lock_admin_product_coupon_path(product, coupon), :class => "puase" %>
      <% end %>
    </span>
    <span class="button">
      <%= link_to "수정", edit_admin_product_coupon_path(product, coupon), :class => "approve" %>
    </span>
    <span class="button">
      <%= link_to "삭제", admin_product_coupon_path(product, coupon), :method => :delete, :confirm => "Are you sure?", :class => "destroy" %>
    </span>
  </td>
</tr>
