<% title "투어포스코리아 예약 페이지" %>

<%= semantic_form_for :sessions, :url => { :action => "create" } do |f| %>
  <p>
	  <p>
	    <%= f.input :purchaser_name, :as => :string, :label => "구매자 이름" %>
	  </p>
	  <p>
	    <%= f.input :coupon_number, :as => :string, :label => "쿠폰 번호" %>
	  </p>
	  <%= f.buttons do %>
	    <%= f.submit "로그인" %>
	  <% end %>
  </p>
<% end %>
