<div class="container_1box">

  <div class="container_header">
  </div><!-- container_header -->

  <div class="unit_content">

    <div class="center_box">

      <h2>로그인</h2>

      <div class="login_box">

        <%= form_tag :sessions, :method => :post do %>

          <div class="left_side">
            <p class="element">
              <%= label_tag :coupon_number, "쿠폰번호" %>
              <%= text_field_tag :coupon_number %>
            </p>
            <p class="element">
              <%= label_tag :purchaser_name, "구매자 이름" %>
              <%= text_field_tag :purchaser_name %>
            </p>
          </div>
          <div class="right_side">
            <p class="element">
              <%= submit_tag "Login" %>
            </p>
          </div>
        <% end %>

      </div><!-- login_box -->

    </div><!-- center_box -->

  </div><!-- unit_content -->

</div><!-- container_1box -->
