<% product = product %>
<tr>
  <td class="name"><%= product.name %></td>
  <td class="provider_name"><%= product.provider_name %></td>
  <td class="resort"><%= display_resort(product) %></td>
  <td class="ticket_type"><%= display_ticket_type(product.ticket_type) %></td>
  <td class="date_range">
    <%= display_date(product.opened_at) %> ~ <%= display_date(product.closed_at) %>
    <p>
      <%= link_to "제약설정", [:admin, product, :constraints] %>
    </p>
  </td>
  <td class="daily_reservations_limit"><%= number_with_delimiter(product.daily_reservations_limit) %></td>
  <td class="coupons"><%= link_to "쿠폰구매목록", [:admin, product, :coupons] %></td>
  <td class="reservations"><%= link_to "예약목록", [:admin, product, :reservations] %></td>
  <td class="actions">
    <%= link_to "edit", edit_admin_product_path(product) %>
    <%= link_to "delete", admin_product_path(product), :confirm => "Are you sure?", :method => :delete, :class => "careful" %>
  </td>
</tr>
