<% product = product %>
<tr>
  <td class="name"><%= product.name %></td>
  <td class="provider_name"><%= product.provider_name %></td>
  <td class="resort"><%= display_resort(product) %></td>
  <td class="ticket_type"><%= display_ticket_type(product.ticket_type) %></td>
  <td class="date_range">
    <%= display_date(product.opened_at) %> ~ <%= display_date(product.closed_at) %>
    <p>
      <%= link_to "제약설정", [:admin, product, :constraints] %>
    </p>
  </td>
  <td class="actions">
    <span class="button">
      <%= link_to "쿠폰구매목록 및 상품관리", [:admin, product, :coupons] %>
    </span>
    <span class="button">
      <%= link_to "수정", edit_admin_product_path(product), :class => "approve" %>
    </span>
    <span class="button">
      <%= link_to "삭제", admin_product_path(product), :confirm => "Are you sure?", :method => :delete, :class => "destroy" %>
    </span>
  </td>
</tr>
