<div class="container_1box">

  <div class="container_header">
  </div><!-- container_header -->

  <div class="unit_content">

    <%= render "admin/products/header" %>

    <div class="section">
      <%= semantic_form_for [:admin, @product] do |f| %>

        <%= render 'admin/products/form', :f => f %>

        <%= f.buttons do %>
          <%= f.submit "수정" %>
        <% end %>

      <% end %>
    </div>

  </div><!-- unit_content -->

</div><!-- container_1box -->
