<%= javascript_include_tag "facebox" %>
<%= stylesheet_link_tag "facebox" %>

<div class="container_1box">

  <div class="container_header">
  </div><!-- container_header -->

  <div class="unit_content">

    <%= render "admin/products/header" %>

    <%= link_to "Import from excel", new_import_admin_product_path(@product), :remote => true, :rel => "facebox" %>

    <div class="section">

      <%= semantic_form_for [:admin, @product], :url => create_coupons_admin_product_path(@product) do |product_form| %>

        <table>
          <thead>
            <tr>
              <th class="coupon_number">쿠폰번호</th>
              <th class="quantity">수량</th>
              <th class="purchaser_name">구매자</th>
              <th class="phone_number">연락처</th>
              <th class="agency_name">구매업체</th>
            </tr>
          </thead>
          <tbody id="coupon_fields_wrapper">
          </tbody>
        </table>

        <div class="">
          <%= product_form.submit "등록" %>
        </div>

      <% end %>
    </div>

  </div><!-- unit_content -->

</div><!-- container_1box -->
