<% reservation = reservation %>
<% coupon = coupon || reservation.coupon %>
<% product = product %>
<% order = order %>
<tr>
  <td class="user_name"><%= order.user_name %></td>
  <td class="shoe_type"><%= display_shoe_type(order.shoe_type) %></td>
  <td class="board_stance"><%= order.board_stance %></td>
  <td class="height"><%= order.height %></td>
  <td class="shoe_size"><%= order.shoe_size %></td>
  <td class="actions">
    <%= link_to "edit", edit_admin_reservation_order_path(product, reservation, order) %>
    <%= link_to "delete", [:admin, reservation, order], :method => :delete, :confirm => "Are you sure?", :class => "careful" %>
  </td>
</tr>
