<div class="container_1box">

  <div class="container_header">
  </div><!-- container_header -->

  <div class="unit_content">

    <%= render "admin/products/header" %>

    <div class="section">

      <h3>예약하기</h3>
      <%= semantic_form_for [:admin, @reservation] do |f| %>

        <% if @product.free_type_ticket? %>
          <%= render "admin/reservations/form_freeticket_#{@reservation.current_step}_step",
              :product => @product, :coupon => @coupon, :reservation => @reservation, :orders => @orders, :f => f %>
        <% else %>
          <%= render "admin/reservations/form_#{@reservation.current_step}_step", :product => @product, :coupon => @coupon, :reservation => @reservation, :f => f %>
        <% end %>

        <%= f.hidden_field :coupon_id, :value => @coupon.id, :name => "coupon_id" %>
        <%= f.hidden_field :product_id, :value => @product.id, :name => "product_id" %>

      <% end %>

    </div>

  </div><!-- unit_content -->

</div><!-- container_1box -->


<script type="text/javascript">

  var toggle_shoe_options = function(ev, ele, wrapper_id) {
    var _shoe_type = ele.childElements()[ele.selectedIndex].value;
    var _wrapper_id = wrapper_id;
    new Ajax.Request("/admin/reservations/toggle_shoe_options", {
          parameters: { shoe_type: _shoe_type, wrapper_id: _wrapper_id },
          onSuccess: function(msg) {
          }

    });
  };

  Event.observe(window, "load", function() {

    var entry_size = $$('select[name="reservation[orders_attributes][][shoe_type]"]').size();

    for (var i = 0; i < entry_size; i++) {
      var shoe_type_ele = $$('select[name="reservation[orders_attributes][][shoe_type]"]')[i];
      shoe_type_ele.observe("change", toggle_shoe_options.bindAsEventListener(this, shoe_type_ele, i));
    }

  });

</script>

