<div class="container_1box">

  <div class="container_header">
  </div><!-- container_header -->

  <div class="unit_content">

    <div class="section">

        <h3>예약 내용
          <span class="more"><%= link_to "편집", edit_admin_reservation_path(@reservation) %></span>
        </h3>

        <div class="">
          <p>사용자명: <%= @reservation.user_name %></p>
          <p>스키장: <%= @reservation.resort %></p>
          <p>이용일: <%= display_date(@reservation.used_at) %></p>
          <p>이용시간: <%= @reservation.part_time %></p>
          <p>장비: <%= @reservation.shoe_type %></p>
          <p>스탠스: <%= @reservation.board_stance %></p>
          <p>신장: <%= @reservation.height %></p>
          <p>발사이즈: <%= @reservation.shoe_size %></p>
        </div>

    </div>

  </div><!-- unit_content -->

</div><!-- container_1box -->
