<div class="container_1box">

  <div class="container_header">
  </div><!-- container_header -->

  <div class="unit_content">

    <h3>예약 내용
      <span class="more"><%= link_to "편집", edit_admin_product_reservation_path(@product, @reservation) %></span>
    </h3>
    <div class="section">
      <p>예약자: <%= @reservation.subscriber_name %></p>
      <p>예약인원: <%= number_with_delimiter(@reservation.booking_number) %></p>
      <p>스키장: <%= @reservation.resort %></p>
      <p>이용일: <%= display_date(@reservation.used_at) %></p>
      <p>이용시간: <%= @reservation.part_time %></p>
    </div>

  </div><!-- unit_content -->

</div><!-- container_1box -->
